//- - - - - - - - - - - - - - - - - - - 
// Override variables here:
//- - - - - - - - - - - - - - - - - - - 

// Fonts:
// e.g. $font-family-sans-serif: "Lato", "Arial", sans-serif;


// Colors:
// e.g.
$primary: #003461;
$info: #2DA1C1;
// $secondary: #7B6D8D;//« purple-gray
// $success: #77BE69;//« green
// $info: #EE964B;//« orange
// $warning: #E8E419;//« yellow
// $danger: #F05D5E;//« red
// $dark: #333333;//« dark gray

// Etc.
// e.g. $body-color: $dark;


$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Montserrat', 'Roboto', sans-serif;


//- - - - - - - - - - - - - - - - - - - 
@import "bootstrap-scss/bootstrap";